version: '3'

networks:
  default:
    name: pozk

services:
  pozk-miner:
    image: zyphernetwork/pozk-miner:v0.1.6
    container_name: pozk-miner
    ports:
      - 9098:9098 # HTTP
      - 7364:7364 # P2P
      - 7364:7364/udp

    volumes:
      - ./:/usr/pozk
      - /var/run/docker.sock:/var/run/docker.sock
    command:
      - --network=testnet
      - --miner=0x0000000000000000000000000000000000000000 # set your miner address here
      - --url=https://example.com # set the public domain for this miner, you will receive more tasks
